---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"posts">;
const post = Astro.props;

const { Content } = await render(post);
---

<Layout
  siteTitle={Astro.props.data.title}
  siteDescription={Astro.props.data.description}
  headerCosmeticText="POST"
  lang={post.data.lang}
>
  <Section class="prose prose-invert max-w-none p-4 sm:p-8 md:prose-lg [&_*]:break-words [&_pre]:overflow-x-auto">
    <h1>{post.data.title}</h1>
    <Content />
  </Section>
</Layout>
